extends layout

block content
  header
    nav.navbar.navbar-default(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            span.glyphicon.glyphicon.glyphicon-tree-deciduous
              | sprayBot
